<form #clubAddForm ="ngForm" (ngSubmit)="addClub(clubAddForm)">
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Club Name"
      name="name"
      required ngModel>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Address 1"
      name="address1"
      required ngModel>
  </mat-form-field>

  <div>
    <mat-form-field style="width: 100%;">
      <textarea matInput name="description" 
        placeholder="Add some notes here"ngModel></textarea>
    </mat-form-field>
  </div>


  <!-- <input type="file" name="image" ngModel> -->
  <button type="submit" mat-raised-button
    color="primary" [disabled]="!clubAddForm.valid">Submit</button>

</form>