<mat-card class="club-summary-card">

  <div class="club-view-container" fxLayout="row" fxLayoutGap="10px">


    <div  fxFlex="10"
      class="club-image-container">
      <img class="logo-image" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/76/P%C3%ABrmeti_Club_Logo.svg/626px-P%C3%ABrmeti_Club_Logo.svg.png" alt="">
    </div>
    <div fxFlex>
    <div fxLayout="row">
      <div fxFlex>
        <h3> {{club.name}} </h3>
      </div>
      
      <div>
        {{club.address1}}
      </div>


    </div>
    <hr>
    <p> {{club.description}}</p>
    </div>
  </div>

  <!-- <div
      *ngFor="let item of management| async" >
      <p>{{ item.name}}</p>
    </div> -->


</mat-card>