
  <mat-card class="club-view-card">
  
      <mat-card-header>
          <div mat-card-avatar class="header-image" 
          [ngStyle]="{'background-image': 'url(' + imageSource + ')'}">        </div>
          <mat-card-title>{{club.name}}</mat-card-title>
          <mat-card-subtitle>{{club.address1}}</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
          {{club.description}}
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button>VIEW</button>
      </mat-card-actions>
  
  </mat-card>


  <!-- <div
      *ngFor="let item of management| async" >
      <p>{{ item.name}}</p>
    </div> -->