<mat-tab-group dynamicHeight="true" headerPosition="">
    <mat-tab label="Clubs">
      <div fxLayout="column" fxLayoutAlign="center"> 
          <div >
            <div fxLayout="row" class="tab-header-container" style="max-width: 500px;margin: 5px auto;">
              <div class="tab-header" fxFlex>
               <h2>
                 Clubs
                 </h2> 
              </div>
              <div class="tab-heade-button">
                <button  mat-raised-button
                color="accent" routerLink="add">Add a Club</button>
              </div>
            </div>
            <div  *ngFor="let item of items | async" class="club-list">
              <app-club-view [club]="item"></app-club-view>
            </div>
          </div>
     </div>
    </mat-tab>
    <mat-tab label="News">
        
      <h1>News will be displayed here.</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab label="Fixtures">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
  </mat-tab-group>






