<mat-tab-group dynamicHeight="true" backgroundColor="primary" >
    <mat-tab label="Clubs">
      <div fxLayout="column" fxLayoutAlign="center"> 
              <div  *ngFor="let item of items | async" (click)= "viewClub(item)" class="club-list">
                <!-- <h4>
                  <a>{{item.name}}</a>
                </h4> -->
                <app-club-view [club]="item"></app-club-view>
              </div>
     </div>

    </mat-tab>
    
    <mat-tab label="News">
      <h1>News will be displayed here.</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab label="Fixtures">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
  </mat-tab-group>






